includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - bin # #todo remove this line in library
        - config # #todo remove this line in library
        - public # #todo remove this line in library
        - src
        - tests
        - view # #todo remove this line in library
