includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        # #todo remove unnecessary folders
        - bin
        - config
        - data
        - public
        - src
        - tests
        - view
